name: Multi Events Workflow

on:
    push:
        branches:
            - main
            - dev
        pull_request:
            branches:
                - main

jobs:
    hello_world:
        runs-on: ubuntu-latest

        steps:
            - name: Run task on push or pull request
              run: echo "This task runs on push to main or dev, and on pull requests to main."
